<!-- views/profile.ejs -->
<% include head.ejs %>
<% include nav.ejs %>
<script src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>
<div class="container">
    <div class="header text-center">
        <h1> Welkom op de Q&amp;A liveapp</h1>
        
    </div>
	
    <div class="row">
        <div class="col-sm-9">
           <h3 class="text-left" id="disc_loc">Discussies laden...</h3>
            <div class="card">
           
           <div class="input-group">
			  <input type="text" id="tb_discussion" placeholder="Nieuwe discussie starten">
			  <span class="input-group-btn">
				<button class="btn btn-primary" type="button" id="btn_discussion">Versturen</button>
			  </span>
			</div>
           
            </div>
        </div>
	<% include activeusers.ejs %>
   
    </div>
    
    <div class="row col-sm-9" id="list_discussion">

    		<a href="#" id="spinner_icon"></a>

    </div>	 
       
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="http://localhost:8080/javascripts/timeago.js"></script>
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script src="http://localhost:8080/javascripts/script.js"></script>
</body>
</html>