<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/normalize.css">
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/style.min.css">
</head>
<body>

