<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Welkom!</title>
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/style.min.css">
</head>
<body>
<div class="index_form_container">
    <div class="text-center" id="index_container">
        <h2> Welkom op de Q&amp;A liveapp</h2>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>  Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>  Signup</a>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>  Facebook</a> 
     </div>
</div>
</body>
</html>