<!-- views/login.ejs -->
<!doctype html>
<html>
<% include head.ejs %>
<body>
	<div class="signup_container">
		<h1><span class="fa fa-sign-in"></span> Login</h1>
		
		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>
		
		<form action="/login" method="post">
			<input type="text" class="form-control" name="email" placeholder="Email">
			<input type="password" class="form-control" name="password" placeholder="Password">
			<p>Need an account? <a href="/signup">Signup</a></p>
			<p id="home_tag">Or go <a href="/">home</a></p>
			<button type="submit" class="login_button" id="button_login">Login</button>
		</form>
	</div>

</body>

</html>