<nav class="navbar container">
	<div class="navbar_logo">
		<a id="logo" href="/discussion">Home</a>
	</div>
	
	<div class="nav_name">
		<div class="dropdown">
			<button class="dropbtn">
				<%= user.local.username %>
					<%= user.facebook.email %><i class="fa fa-caret-down" aria-hidden="true"></i>
			</button>
			<div class="dropdown-content">
				<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>  Log uit</a>
			</div>
		</div>
		<img src="<%= userpic %>" alt="user picture">
	</div>
	
	<script type="text/javascript">
		var activeUser = "<%= user.local.username %><%= user.facebook.email %>";
	</script>
</nav>
<div class="thin_line"></div>