<!-- views/profile.ejs -->
<% include head.ejs %>
<% include nav.ejs %>

	<div class="container">
		<div class="header text-center">
        <h2 class="text-left">Vragen over "<%= currentDiscussion %>"</h2>
    </div>
	

	<div class="row">
		<div class="col-sm-9">
			<div class="input-group">
				<input type="text" id="tb_question" class="form-control" placeholder="Nieuwe vraag stellen">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" id="btn_question" data-id="<%= discussion_id %>">Versturen</button>
			 	 </span>
			</div>
		</div>
	
	<% include activeusers.ejs %>

	</div>
		
		<div class="col-sm-9" id="list_question">
    	   <% question %>	
    	   <% for(var i=0; i < question.length; i++) { %>
		   <div class="row">
               <div class="card_question flex_column">
				    <% if(user.local.username == question[i].user){
						if(question[i].status == "open"){
					%>
						<span id="ribbon_<%= question[i]._id %>"  class="ribbonOpen" data-id="<%= question[i]._id %>"><span><%= question[i].status %></span></span>
						<%}else{%>
				   		<span id="ribbon_<%= question[i]._id %>"  class="ribbonClosed" data-id="<%= question[i]._id %>"><span><%= question[i].status %></span></span>
				   		<%}%>
				   <%}else{
				   if(question[i].status == "open"){
				   %>
				   <span id="ribbon_<%= question[i]._id %>"  class="ribbonOpen"><span><%= question[i].status %></span></span>
				   <%}else{%>
				   <span id="ribbon_<%= question[i]._id %>"  class="ribbonClosed"><span><%= question[i].status %></span></span>
				   	<%}%>
				   <%}%>
                    <h3><%= question[i].question %></h3>
                    <span class="question_user">Door:<%= question[i].user %></span><br>
                    <time class="timeago" datetime="<%= question[i].date.toLocaleString() %>"></time>
                    <div class="comments" id="comments_<%= question[i]._id %>">
						<% var comments = question[i].comments  %>

						<% for(var j=0; j < comments.length; j++) { %>

						<div class='row'>
							<div class='flex-comment'>
								
								<span class='discussion_user'><%= comments[j].user %>:</span>
								<p><%= comments[j].message %></p>
								<time class="timeago" datetime="<%= comments[j].date.toLocaleString() %>"></time>
							</div>
						</div>
						<% } %>
                    </div>
                    <div class="input-group">
                        <input type="text" id="tb_answer_<%= question[i]._id %>" class="form-control tb-comment" placeholder="Antwoorden">
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-comment" type="button" id="btn_answer" data-id="<%= question[i]._id %>">Antwoord</button>
                         </span>
                    </div>

               </div>
		   </div>
		   <% } %>
    		
   	    </div>

</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="http://localhost:8080/javascripts/timeago.js"></script>
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script src="http://localhost:8080/javascripts/script.js"></script>
</body>
</html>