<!doctype html>
<html>
<head>
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://localhost:8080/stylesheets/style.min.css">
</head>
<body>
	<div class="signup_container">

		<h1><span class="fa fa-sign-in"></span> Signup</h1>
	   
		   <!-- Error message -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>
			
			
		<form action="/signup" method="post">

			<input type="email" name="email" placeholder="Email">

			<input type="text" name="username" placeholder="Username">

			<input type="password" name="password" placeholder="password">

			<p>Already have an account? <a href="/login">Login</a></p>
			<p id="home_tag">Or go <a href="/">home</a>.</p>

			<button type="submit" class="login_button" id="button_signup">Signup</button>
		</form>

	</div>

</body>
</html>