@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);
* {
  box-sizing: border-box; }

*:focus {
  outline: none; }

textarea:focus, input:focus {
  outline: none; }

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #F6F6F6; }

.navbar_logo {
  padding-top: 7px; }

#index_container {
  width: 450px;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #CCCCCC;
  padding-bottom: 40px; }
  #index_container h2 {
    margin-bottom: 30px;
    padding-top: 40px;
    color: #3094EA;
    font-size: 2.2em; }
  #index_container a {
    border: 0px;
    height: 50px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    line-height: 40px;
    -webkit-transition: all .35s;
    transition: all .35s; }
  #index_container p {
    font-size: 1.3em;
    color: #454C57; }

nav {
  display: block;
  padding-bottom: 0px; }

.thin_line {
  margin-top: -20px;
  margin-bottom: 40px;
  border-top: 1px solid #DDDDDD; }

.navbar_logo {
  position: absolute;
  top: 10px; }

.nav_name {
  color: #23262A;
  font-size: 1.2em;
  position: absolute;
  right: 10px; }
  .nav_name img {
    height: 40px;
    margin-top: -5px;
    border-radius: 50%; }

.header {
  margin-bottom: 50px; }
  .header h2 {
    color: #3C3F41; }

.header-icon {
  font-size: 4em;
  color: #3094EA;
  margin-bottom: 20px; }

.flex-column, .flex-comment {
  display: flex;
  flex-direction: column;
  margin-left: 15px; }
  .flex-column a, .flex-comment a {
    align-self: flex-end; }

.flex-comment {
  margin-left: 2em;
  margin-right: 3em;
  padding-left: 1em;
  margin-top: 1em;
  padding-top: 1.5em;
  border-top: 1px solid whitesmoke; }
  .flex-comment .timeago {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    color: #B6BCBF; }

.signup_container {
  margin: auto;
  margin-top: 100px;
  width: 450px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #CCCCCC; }
  .signup_container input {
    border: 0px;
    height: 50px;
    padding-left: 8px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 90%; }
  .signup_container p {
    text-align: right; }
  .signup_container a {
    margin-right: 5%; }
  .signup_container h1 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    color: #3094EA; }
  .signup_container #home_tag {
    margin-bottom: -20px; }

.login_button {
  width: 100%; }

.card, .card_question {
  text-align: center;
  border-radius: 4px;
  font-family: 'Fira Sans', sans-serif;
  background-color: white;
  margin-bottom: 10px;
  margin-bottom: 25px; }
  .card h3, .card_question h3 {
    color: #3094EA; }
  .card span, .card_question span {
    color: #454C57; }

.open_button, .login_button {
  text-align: center;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  color: #637F98;
  left: 0px;
  width: 100%;
  background: #EAF5FF;
  bottom: 0px;
  padding: 21px 0px;
  margin: 40px auto 0px auto;
  -webkit-transition: all .35s;
  transition: all .35s;
  border: 0px; }

.open_button:hover, .login_button:hover {
  text-decoration: none;
  background: #D5E1EC; }

.login_button {
  font-size: 15px; }

#tb_discussion, #tb_question {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  padding-left: 10px;
  font-size: 16px;
  border-right: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px; }

#btn_discussion, #btn_question {
  height: 50px;
  width: 150px;
  border: 0px;
  border: 1px solid #DDDDDD;
  background-color: #D5E1EC;
  border-left: 0px;
  text-transform: uppercase;
  color: #637F98; }

.btn-comment {
  border-radius: 0;
  background-color: #637F98;
  margin-right: 2em;
  margin-bottom: 2em;
  z-index: 20 !important; }

.card_question {
  text-align: left; }
  .card_question h3 {
    margin-left: 1.2em;
    padding-top: 1em; }
  .card_question .question_user {
    margin-left: 2em; }
  .card_question time {
    margin-left: 2em; }
  .card_question .input-group {
    margin-top: 20px; }
  .card_question .question_divider {
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid whitesmoke; }

.comments {
  padding-left: 10px; }
  .comments span {
    font-size: 1.3em; }

.tb-comment {
  border-radius: 0;
  margin-bottom: 2em;
  margin-left: 2em; }

.ribbonOpen, .ribbonClosed {
  border-top-right-radius: 4px;
  position: absolute;
  right: 0px;
  display: block;
  text-align: center;
  background-color: #31708F;
  width: 100px;
  height: 35px;
  line-height: 35px; }
  .ribbonOpen span, .ribbonClosed span {
    color: white; }

.ribbonClosed {
  background-color: #A94543; }

.dropbtn {
  color: #23262A;
  height: 49px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #F6F6F6; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #F6F6F6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  .dropdown-content a:hover {
    background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.badge {
  margin-left: 10px;
  background-color: #454C57; }
