$russianblack: #23262A;
$classicwhite: #F6F6F6;
$pineapple: #DDDDDD;
$sexywim: #3094EA;
$pinata: #EAF5FF;
$darkpinata: #D5E1EC;
$blokfluit: #637F98;
$contrabas: #454C57;
$octopus: #B6BCBF;


@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);

* {
  box-sizing: border-box;
}
*:focus {
    outline: none;
}
textarea:focus, input:focus{
	outline: none;
}
body{
	font-family: 'Fira Sans', sans-serif;
	background-color: $classicwhite;
}
.navbar_logo{
	padding-top: 7px;
}
#index_container{
	width: 450px;
	margin-top: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 4px;
	box-shadow: 3px 3px 3px #CCCCCC;
	padding-bottom: 40px;
	
	h2{
		margin-bottom: 30px;
		padding-top: 40px;
		color: $sexywim;
		font-size: 2.2em;
	}
	a{
		border: 0px;
		height: 50px;
		border-radius: 4px;
		margin-left: 5%;
		margin-right: 5%;
		border: 1px solid $pineapple;
		margin-bottom: 10px;
		width: 90%;
		text-align: center;
		font-size: 1.2em;
		line-height: 40px;
 		-webkit-transition: all .35s;
		transition: all .35s;
	}
	
	p{
		font-size: 1.3em;
		color: $contrabas;
	}
}
nav{
	display: block;
	padding-bottom: 0px;
}
.thin_line{
	margin-top: -20px;
	margin-bottom: 40px;
	border-top: 1px solid $pineapple;
}
.navbar_logo{
	position: absolute;
	top: 10px;
}
.nav_name{
	color: $russianblack;
	font-size: 1.2em;
	position: absolute;
	right: 10px;
	img {
		height: 40px;
		margin-top: -5px;
		border-radius: 50%; }
}
.header{
	margin-bottom: 50px;
	h2{
		color: #3C3F41
	}
}
.header-icon{
	
	font-size: 4em;
	color: $sexywim;
	margin-bottom: 20px;
}

.flex-column {

	display: flex;
	flex-direction: column;
	margin-left: 15px;

	a{
		align-self: flex-end;
	}

}
.flex-comment{
	@extend .flex-column;
	margin-left:2em;
	margin-right:3em;
	padding-left: 1em;
	margin-top: 1em;
	padding-top:1.5em;
	border-top: 1px solid whitesmoke;
	.timeago{
		display: flex;
		justify-content: flex-end;
		margin-right:2em;
		color: $octopus;
	}
}
.signup_container{
	
	margin: auto;
	margin-top: 100px;
	width: 450px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 3px 3px 3px #CCCCCC;
	
	input{
		border: 0px;
		height: 50px;
		padding-left: 8px;
		border-radius: 4px;
		margin-left: 5%;
		margin-right: 5%;
		border: 1px solid $pineapple;
		margin-bottom: 20px;
		width: 90%;
	}
	
	p{
		text-align: right;

	}
	
	a{
		margin-right: 5%;
	}
	
	h1{
		text-align: center;
		margin-bottom: 30px;
		padding-top: 20px;
		color: $sexywim;
	}
	
	#home_tag{
		margin-bottom: -20px;
	}
	
}

.login_button{
	width: 100%;
}

.card{
	text-align: center;
	border-radius: 4px;
	font-family: 'Fira Sans', sans-serif;
	background-color: white;
	margin-bottom: 10px;
	margin-bottom: 25px;
	
	h3{
		color: $sexywim;
	}
	
	span{
		color: $contrabas;
	}
}
.open_button{
  text-align: center;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  color: #637F98;
  left: 0px;
  width: 100%;
  background: #EAF5FF;
  bottom: 0px;
  padding: 21px 0px;
  margin: 40px auto 0px auto;
  -webkit-transition: all .35s;
  transition: all .35s;
  border: 0px;
}

.open_button:hover {
  text-decoration: none;
  background: $darkpinata;
}
.login_button{
	@extend .open_button;
	font-size: 15px;
}
#tb_discussion{
	height: 50px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid $pineapple;
	padding-left: 10px;
	font-size: 16px;
	border-right: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
#tb_question{
	@extend #tb_discussion;
}
#btn_discussion{
	height: 50px;
	width: 150px;
	border: 0px;
	border: 1px solid $pineapple;
	background-color: $darkpinata;
	border-left: 0px;
	text-transform: uppercase;
	color: $blokfluit;
}
#btn_question{
	@extend #btn_discussion;
}

.btn-comment{
	border-radius: 0;
	background-color: $blokfluit;
	margin-right: 2em;
	margin-bottom: 2em;
	z-index: 20 !important;

}

.card_question{
	@extend .card;
	text-align: left;
	h3{
		margin-left: 1.2em;
		padding-top: 1em;
	}
	.question_user{
		margin-left: 2em;
	}
	time{
		margin-left:2em;
	}
	.input-group{
		margin-top: 20px;
		
	}
	.question_divider{
		margin-top: 40px;
		width: 100%;
		border-bottom: 1px solid whitesmoke;
	}
}
.comments{

	padding-left: 10px;
	span{
		

		font-size: 1.3em;

	}

	
	
}

.tb-comment{
	border-radius: 0;

	margin-bottom: 2em;
	margin-left: 2em;


}
.ribbonOpen {
	
	border-top-right-radius: 4px;
	position: absolute;
	right: 0px;
	display: block;
	text-align: center;
	background-color: #31708F;
	width: 100px;
	height: 35px;
	line-height: 35px;
		
	span{
		color: white;
	}
	
}

.ribbonClosed {
	@extend .ribbonOpen;
	background-color: #A94543;
	
}

.dropbtn {
 	color: $russianblack;
    height: 49px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	background-color: $classicwhite;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	right: 0;
    display: none;
    position: absolute;
    background-color: $classicwhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
	a{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	}
	
	a:hover {
		background-color: #f1f1f1
	}
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.badge{
		margin-left: 10px;
		background-color: $contrabas;
}